

body{
    font-family: Verdana;
    text-align: center;
    background-color: #9EB0C8;
}

h1{
    font-size: 32px;
    font-weight: bold;
    background-color: black;
    width: 370px;
    margin: 0 auto;
    color: white;
    margin-top: 60px;
    border-radius: 15px;
    padding-bottom: 3px;
}

h2{
    font-size: 26px;
    font-weight: bold;
}

h3{
    font-size: 24px;
    margin-bottom: 0px;
}

p{
    font-size: 16px;
    color: black;
    font-weight: bold;
}

.detailedname{
    font-size: 18px;
    color: black;
    font-weight: bold;
    font-family: Rockwell, 'Courier Bold', Courier, Georgia, Times, 'Times New Roman', serif;
    margin-top: 10px;
    margin-bottom: 10px;
    font-style: normal;
}

.detailedresult{
    font-size: 16px;
    color: black;
    font-weight: normal;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: Rockwell, 'Courier Bold', Courier, Georgia, Times, 'Times New Roman', serif;
    font-style: normal;
}

.datestamp{
    font-size: 14px;
    color: #666666;
    font-weight: normal;
    font-style: normal;
    margin-top: 0px;
    margin-bottom: 0px;
}

.latestresult{
    font-size: 16px;
    color: black;
    font-weight: bold;
}

.summary{
    font-weight: normal;
    text-align: left;
    margin-left: 10px;
    font-family: Rockwell, 'Courier Bold', Courier, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
}

.summarylinks{
    text-decoration: none;
    color: black;
}

.linklogos{
    margin-left: 5px;
}

#container{
    background-color: #B0C4DE;
    margin: 0 auto;
    width: 370px;
    margin-top: 20px;
    text-align: center;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    border-radius: 20px;
}

.biggerlinks{
    font-size: 20px;
    text-decoration: none;
    color: black;
    font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
}

.smallerlinks{
    font-size: 16px;
    font-weight: normal;
    text-decoration: none;
    font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
    color: black;
}

.exerciselinks{
    font-size: 16px;
    font-family: Rockwell, 'Courier Bold', Courier, Georgia, Times, 'Times New Roman', serif;
    color: black;
    display: inline-block;
    margin: 0 auto;
    border-radius: 20px;
    padding: 10px 10px;
    font-weight: normal;
    text-decoration: none;
}

.backlink{
    font-size: 16px;
    font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
    color: black;
    display: inline-block;
    margin: 0 auto;
    border-radius: 20px;
    padding: 10px 10px;
    font-weight: normal;
    text-decoration: none;
}

a:hover{
    color: #D8E2EE;
}

.exerciselinks:hover{
    background-color: #D8E2EE;
    color: black;
}

.backlink:hover{
    color: #D8E2EE;
}

form{
    background-color: #8e9eb4;
    border-radius: 10px;
    width: 347px;
    margin: 0 auto;
    text-align: left;
    margin-bottom: 10px;
    margin-top: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

#logoutform{
    width: 150px;
    background-color: #9EB0C8;
    border: none;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

#buttonlogout{
    width: 70px;
    font-size: 12px;
    cursor: pointer;
    text-shadow: none;
    box-shadow: none;
    padding: 0px 0px;
    text-indent: 0px;
    color: black;
    font-weight: bold;
    border: none;
    background-color: #D8E2EE;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

fieldset{
    background-color: #8e9eb4;
    border-width: 0px;
    border-radius: 20px;
}

legend{
    font-weight: bold;
    color: black;
    padding-top: 10px;
    font-size: 14px;
}

label{
    color: black;
    font-size: 14px;
}

input{
    color: black;
    border-radius: 15px;
    text-indent: 10px;
    width: 100px;
    font-size: 12px;
    background-color: white;
    border: none;
}

.longerdatefield{
    width: 125px;
    font-size: 12px;
    text-indent: 5px;
}

form p{
    font-size: 12px;
    color: blue;
    font-style: italic;
    font-family: Verdana;
    font-weight: bold;
}

.extramargin{
    margin-left: 49px;
}

.extramargin2{
    margin-left: 55px;
}

.extramargin3{
    margin-left: 6px;
}

#button{
    width: 85px;
    font-size: 14px;
    cursor: pointer;
    text-shadow: none;
    box-shadow: none;
    padding-bottom: 1px;
    margin-top: 10px;
    text-indent: 0px;
    font-weight: bold;
    border: none;
    background-color: #D8E2EE;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

#button:hover{
    color: blue;
}

#buttonlogout:hover{
    color: blue;
}

#exercisedetailform{
    border: none;
    background: transparent;
    text-align: center;
}

#deleteform{
    border: none;
    margin-left: 5px;
    background: transparent;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

#deletebutton{
    width: 12px;
    height: 12px;
    cursor: pointer;
    text-shadow: none;
    box-shadow: none;
    padding: 0px 0px;
    border: none;
    background: url(../img/deleteimage.png) no-repeat;
    background-size: contain;
}